<p>
  <strong><%= @model_name %> ID:</strong>
  <%%= @setting.<%= @model_name.underscore %>_id %>
</p>

<p>
  <strong>Setting Definition ID:</strong>
  <%%= @setting.<%= @model_name.underscore %>_setting_definition_id %>
</p>

<p>
  <strong>Value:</strong>
  <%%= @setting.value %>
</p>

<%%= link_to 'Edit', edit_polymorphic_path(@setting) %> |
<%%= link_to 'Back', <%= @model_name.underscore %>_settings_path %>
